# The location to use for storing cached Git repos
:cachedir: '/var/cache/r10k'

# A list of git repositories to create
:sources:
  # This will clone the git repository and instantiate an environment per
  # branch in /etc/puppetlabs/code/environments
  :homelab-puppet:
    remote: '{{ puppet_git_https }}'
    opstree: 'test'
    basedir: '/etc/puppetlabs/code/environments'