[main]
certname = {{ puppetslave_fqdn }}
server = {{ puppetserver_fqdn }}
environment = {{ env }}
runinterval = 15m
vardir = /opt/puppetlabs/puppet/data/puppet
logdir = /var/log/puppetlabs/puppet
rundir = /var/run/puppetlabs/puppet
pidfile = /var/run/puppetlabs/agent.pid
codedir = /etc/puppetlabs/code
